body {
    background-color: #B9B9B9;
    text-align: center;
}

.countdown {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 300px;
    z-index: 2;
    display: none;
}

#testButton {
    margin: 5px;
    padding: 30px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(87, 87, 87, 0.7);
    z-index: 2;
    display: none;
}

#light {
    height: 250px;
    width: 250px;
    background-color: rgb(158, 121, 121);
    border: 3px solid black;
    display: block;
    margin: auto;
}

#lightAlert {
    visibility: hidden;
    font-size: 30px;
}


.tutorial {
    margin-top: 20px;
    text-align: center;
}

.points {
    text-align: center;
    font-size: 100px;
    margin: auto;
}

.high-score-message {
    display: none;
}

.restart-button {
    display: none;
}

.game-over {
    display: none;
}